//- header structure
#header
    video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)

    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/msc_ship.mp4" autoplay muted loop)
    //- video#header-fullscreen-video(src="/video/cargo_yard.mp4" autoplay muted loop)
    nav#header-blocks
        a#block-scarlett Services 
        a#block-ballon-goons Hello! 
        a#block-our-experience Our Experience 
        a#block-party-times Party Times 
        a#block-ballon-goons Balloon Goons
