//- header structure
#header
    img#header-fullscreen-video(src="/img/gatis-marcinkevics-a5uptAdUmjE-unsplash.jpg")
    nav#header-blocks
        a#block-ballon-goons Services 
        a#block-our-experience Our Experience 
        a#block-party-times Party Times 
        a#block-ballon-goons Balloon Goons
        a#block-scarlett.hidden  
