// header styles
#header
    position relative
    height 100lvh
    width 100%

#header-fullscreen-video
    position absolute
    top 0
    left 0
    height 100lvh
    width 100%
    z-index -1
    object-fit: cover

#header-blocks
    display grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    font-size: 15pt
    color cd-blue
    position relative
    top 90px

    a
        cursor pointer
        background-color: alpha(cd-grey, 0.7)
        justify-self: stretch
        margin 3px
        padding 20px
        transition background-color 0.3s
        font-weight bold
    a.hidden
        pointer-events: none
        opacity: 0
        
    a:hover
        background-color: cd-bright
        