//-############################################################
svg#svgicon-definitions
    defs
        filter#svg-dropshadow-filter(height="130%" width="130%")
            fegaussianblur(in="SourceGraphic" stddeviation="3" result="blurOut")
            feColorMatrix(in="blurOut" type="saturate" values="0.25" result="shadowOut")
            feblend(in='SourceGraphic' in2='shadowOut' mode='normal')

//-############################################################
svg#svgicon-symbols

    symbol#svg-cross-icon(preserveAspectRatio="xMidYMid meet" viewBox='0 0 24 24')
        path(fill='currentColor' d='M19,3H16.3H7.7H5A2,2 0 0,0 3,5V7.7V16.4V19A2,2 0 0,0 5,21H7.7H16.4H19A2,2 0 0,0 21,19V16.3V7.7V5A2,2 0 0,0 19,3M15.6,17L12,13.4L8.4,17L7,15.6L10.6,12L7,8.4L8.4,7L12,10.6L15.6,7L17,8.4L13.4,12L17,15.6L15.6,17Z')
    
    symbol#svg-menu-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor", d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z")

    symbol#svg-phone-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z")

    symbol#svg-email-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6M20 6L12 11L4 6H20M20 18H4V8L12 13L20 8V18Z")

    symbol#svg-chat-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24")
        path(fill="currentColor" d="M12,3C6.5,3 2,6.58 2,11C2.05,13.15 3.06,15.17 4.75,16.5C4.75,17.1 4.33,18.67 2,21C4.37,20.89 6.64,20 8.47,18.5C9.61,18.83 10.81,19 12,19C17.5,19 22,15.42 22,11C22,6.58 17.5,3 12,3M12,17C7.58,17 4,14.31 4,11C4,7.69 7.58,5 12,5C16.42,5 20,7.69 20,11C20,14.31 16.42,17 12,17Z")
        
    symbol#svg-agent-scarlett-icon(preserveAspectRatio="xMidYMid meet" viewBox="0 0 465 496")
        path(fill="currentColor" d="M234.268 0.000587691C230.256 -0.00658231 226.193 0.0518456 222.076 0.176369C101.811 3.81402 32.5231 66.2758 22.5705 180.028C20.6596 201.868 20.5686 202.175 14.2228 207.745C2.11277 218.377 -0.436035 225.687 0.0568122 258.087C1.40917 346.994 15.5911 339.513 58.6427 337.637C63.0138 433.025 44.297 464.311 55.1447 466.237C65.9922 468.165 102.276 427.363 119.674 449.147C137.072 470.931 151.761 445.913 222.076 449.147C119.676 411.252 133.024 383.147 108.149 351.09C119.878 355.619 161.627 392.175 176.397 393.526C188.943 394.673 191.467 396.667 198.518 402.84C217.99 419.884 243.96 419.651 255.666 399.833C264.576 384.75 256.026 376.963 240.992 374.733C252.096 376.777 254.131 375.536 257.549 375.74C258.121 377.055 257.439 382.329 257.439 382.329C257.439 382.329 258.2 383.743 260.642 376.459C263.629 373.795 271.375 374.948 273.543 369.43C269.253 370.466 271.778 370.848 260.971 370.561C254.44 366.043 247.727 365.463 239.214 366.652C234.679 367.922 234.004 369.369 230.104 368.584C229.282 367.335 220.18 365.183 216.55 365.31C212.341 365.585 208.346 366.917 206.526 367.768C200.509 370.208 196.191 367.007 191.106 367.581C196.102 371.026 197.679 375.13 199.924 378.708C198.149 379.22 196.379 379.747 194.645 380.337C172.033 388.029 112.066 339.483 102.209 313.905C89.0473 279.75 99.404 252.875 115.283 229.079C152.273 173.643 201.365 75.7762 286.051 125.11C287.312 156.259 309.542 194.04 321.295 215.631C351.159 289.264 318.608 399.871 284.137 465.26C284.137 465.26 353.019 412.739 363.756 288.805C363.526 348.445 359.894 345.731 356.278 368.362C334.769 437.396 250.559 495.821 250.559 495.821C250.559 495.821 323.693 487.07 373.926 421.585C381.503 411.707 389.588 456.033 397.401 463.657C409.251 475.224 408.195 356.171 412.604 337.008C455.636 339.27 464.705 309.739 464.705 258.087C464.705 225.683 462.65 218.377 450.539 207.745C444.193 202.175 444.101 201.868 442.19 180.028C432 63.5625 358.616 0.222819 234.268 0.000587691ZM231.444 22.1275C352.655 22.1418 411.196 72.7663 420.457 185.579C421.306 195.937 404.807 203.513 402.09 194.01C401.721 192.723 399.737 184.502 397.684 175.743C377.916 91.4557 320.692 46.5325 232.381 45.9732C143.687 45.4117 84.7404 92.9873 65.7951 180.426C61.9569 198.142 41.8202 206.446 43.9748 189.424C44.4709 185.506 45.3532 176.399 45.9357 169.186C53.5957 74.3281 119.46 22.1144 231.444 22.1275ZM293.244 229.653C290.614 233.769 279.379 227.368 283.469 232.852C276.765 236.757 290.657 234.498 292.24 234.766C293.983 235.555 288.598 238.706 296.25 236.794C300.351 235.99 312.602 233.834 328.391 241.591C343.25 241.505 303.895 230.749 300.768 230.213C297.781 231 295.53 232.435 293.244 229.653ZM303.209 252.846C306.968 255.636 318.532 259.207 303.92 255.518C300.844 253.676 292.767 254.177 288.356 255.137C285.284 256.584 281.711 259.002 279.599 260.911C274.743 267.511 263.919 273.592 272.998 275.294C280.47 276.517 295.369 279.165 295.369 279.165C296.776 276.337 305.376 276.919 306.141 267.233C300.192 257.29 308.218 258.904 313.863 265.46C323.28 274.055 314.993 274.138 319.32 276.213C326.416 275.219 329.226 275.828 334.229 274.384C338.9 269.827 325.579 261.8 321.997 259.632C316.065 256.136 310.078 253.457 303.209 252.846Z")
        path(fill="currentColor" d="M168.01 226.348C170.641 230.464 181.876 224.063 177.786 229.547C184.49 233.451 170.598 231.193 169.014 231.461C167.272 232.25 172.656 235.401 165.005 233.488C160.903 232.684 148.653 230.529 132.864 238.285C118.005 238.199 157.36 227.444 160.487 226.908C163.474 227.695 165.725 229.13 168.01 226.348ZM158.046 249.541C154.287 252.331 142.723 255.902 157.335 252.213C160.411 250.371 168.488 250.872 172.899 251.832C175.971 253.279 179.544 255.696 181.656 257.606C186.512 264.205 197.336 270.287 188.257 271.988C180.785 273.212 165.885 275.859 165.885 275.859C164.478 273.032 155.878 273.614 155.114 263.928C161.063 253.985 153.036 255.599 147.391 262.154C137.975 270.75 146.262 270.833 141.934 272.908C134.839 271.914 132.029 272.522 127.026 271.079C122.355 266.522 135.676 258.494 139.258 256.327C145.19 252.831 151.177 250.152 158.046 249.541Z")
        path(fill="currentColor" d="M235.481 393.252C236.127 392.467 224.251 392.846 231.138 391.049C234.1 391.53 241.07 390.223 235.481 393.252C235.432 393.312 235.312 393.378 235.106 393.453C235.237 393.383 235.361 393.318 235.481 393.252Z")
        path(fill="currentColor" d="M252.889 339.053C241.786 338.087 250.462 332.087 257.258 333.805C265.243 332.826 256.001 339.872 252.889 339.053Z")
        path(fill="currentColor" d="M216.605 338.193C210.366 340.81 197.038 331.689 209.103 334.112C213.364 333.115 229.52 334.966 216.605 338.193Z")
    
