// globalstyles styles

/*==========================================================
Color Theme
==========================================================*/
cd-darkgrey = #666
cd-grey = #F4F6F7
cd-blue = #29588C
cd-bright = white
cd-dark = black


/*==========================================================
Global Variables
==========================================================*/
// max-content-width = 900px
// mobile-side-padding = 15px


/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-bright
    color cd-darkgrey
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    overflow hidden
    overflow-y auto

h1
    font-size: 32pt
    color cd-blue
h2
    font-size: 22pt
    color cd-dark
p
    font-size: 14pt
svg
    width inherit
    height inherit