//- callme structure
#callme
    #call-frame
        h2 Contact me here
        #phone-line
            svg: use(href="#svg-phone-icon")
            a#call-phone(href="tel:+86 111 222 333 444") +86 111 222 333 444
        #email-line
            svg: use(href="#svg-email-icon")
            a#call-email(href="mailto:scarlett@agentscarlett.com") scarlett@agentscarlett.com
        #chat-line
            svg: use(href="#svg-chat-icon")
            a#call-email(href="#chat") chat right here!

    svg: use(href="#svg-agent-scarlett-icon")
